footer {
    .footer__card {
        background-color: $primary-color;
        background-image: url('../img/lineCardFooter.png');
        background-repeat: no-repeat;
        background-position: right 0px bottom 0px;
        border-color: $primary-color;
        border-style: solid;
        border-radius: 24px;
        margin-top: 44px;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer__card--icon {
            margin-top: 44px;
            margin-left: 38px;
        }
        .footer__card--description {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 40px;
            color: #FFFFFF;
        }
        .footer__card--about1 {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            margin-top: 16px;
            margin-bottom: 50px;
            margin-right: 44px;
            margin-left: 44px;
            color: #FFFFFF;
        }
        .footer__card--line {
            position: absolute;
            right: 32.25px;
            bottom: -470px;
            width: 310px;
            opacity: 0.2;
            border: 0.4px solid $dark-color;
        }
        .footer__card--about2 {
            font-weight: 700;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -0.5px;
            text-align: center;
            margin-left: 25px;
            margin-right: 25px;
            margin-bottom: 40px;
            color: #FFFFFF;
        }
        .footer__card--button {
            margin-bottom: 20px;
            border-radius: 8px;
            border-style: solid;
            border-color: #FFFFFF;
            padding: 17px 91px;
            .footer__card--link {
                text-decoration: none;
                color: $primary-color;
                font-weight: 500;
                font-size: 16px;
                
            }
        }
    }
    .footer__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('../img/lineCardFooter2.png');
        background-repeat: no-repeat;
        background-position: right 40px bottom -40px;
        .footer__info--logo {
            margin-top: 32px;
            margin-bottom: 32px;
        }
        .footer__info--details {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #ADADAD;
            padding-left: 40px;
            padding-right: 40px;
            margin-top: 0;
        }
        .footer__info--list {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            list-style: none;
            
            .footer__info--list-icon{
                margin-right: 10px;
                height: 100%;
            }
        }
        .footer__info--copyright {
            margin-top: 32px;
            margin-bottom: 32px;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #ADADAD;
        }
    }
}