@import 'variaveis';
.hero {
    .hero__title {
        color: #232340;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.5px;
        margin-right: 32px;
        margin-left: 32px;
        margin-bottom: 24px;
    }
    .hero__description {
        color: #606060;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin-right: 32px;
        margin-left: 32px;
        margin-bottom: 24px;
    }
    .hero__button {
        border-style: solid;
        border-radius: 8px;
        border-color: $primary-color;
        padding: 17px 34.5px;
        background-color: $primary-color;
        font-weight: 600;
        margin-left: 32px;
        margin-bottom: 300px;
        .hero__button--link {
            text-decoration: none;
            color: white;
            font-size: 16px;
            line-height: 22px;
        }
    }
}